.Cell{
    display: inline-block;
    width: 16.666%;
    height: 100px; 
    vertical-align: top;
    padding: 1px;
}
.Cell .inner{
    width: 100%;
    height: 100%;
    background-color: rgba(204, 204, 204, 0.507);
    border: 1px solid #000;
}